<div class="board-container">
  <div *ngFor="let list of (lists$ | async) | sortBy : 'position'; let listIndex = index" class="list">

    <div class="drop-zone title" (drop)="dropCard(list, 0)" (dragover)="allowDrop($event)">
      <app-list-header [list]="list">
      </app-list-header>
    </div>

    <div class="drop-zone" *ngFor="let card of list.cards | sortBy : 'position'; let cardIndex = index" (drop)="dropCard(list, cardIndex)"
      (dragover)="allowDrop($event)">

      <div draggable="true" (dragstart)="dragCard(list, card)">
        <app-board-card [card]="card"></app-board-card>
      </div>

    </div>

    <div class="drop-zone" (drop)="dropCard(list, -1)" (dragover)="allowDrop($event)">
      <app-board-new [collection]="'cards'" [parent]="list._id">Add a card...</app-board-new>
    </div>

  </div>

  <div class="list">
    <div class="drop-zone">
      <app-board-new [collection]="'lists'" [parent]="boardId">Add a list...</app-board-new>
    </div>
  </div>
</div>
