h1 {
  margin: -10px 0 15px -20px;
  font-weight: bold;
}

.mat-dialog-content {
  margin: 0 0 0 -14px;
}

.mat-dialog-actions {
  margin: 0 0 -24px 10px;
}

.close-btn {
  float: right;
  background-color: transparent;
  border: none;
  padding: 0 5px;
}

.col-80 {
  display: inline-block;
  width: 79%;
  vertical-align: top;
}

.col-20 {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
