.list {
  display: inline-block;
  min-height: 90px;
  width: 200px;
  vertical-align: top;
  color: #fff;
  background-color: #0067a3;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  font-size: 13pt;
  font-weight: bold;
  padding: 5px;
}
