.team-container {
  width: 80%;
  margin: auto;
}

.team {
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  padding: 10px;
  margin: 5px 5px 15px 5px;
}

.team h2 {
  font-weight: bold;
  font-size: 15pt;
  margin: 5px;
}

.board {
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .team-container {
    width: 100%;
  }
}
